$font-stack: "Red Hat Display", sans-serif;
$primary-default: #855fb1;
$primary-active: #d9b8ff;
$secondary-default: #4d96a9;
$secondary-active: #8fe3f9;
$secondary-background: #fafafa;
$primary-text: #87879d;
$header-text: #28283d;
$section-marker-border: rgba(135, 135, 157, 0.26);
